<body>

  <%= form_with model:@player,url:players_path, method: :post, local: true do|f|%>
    X座標<%= f.text_field :posx, value:0, readonly:true %>
    Y座標<%= f.text_field :posy, value:0, readonly:true %>
    HP<%= f.text_field :playerhp, value:100, readonly:true %>
    MP<%= f.text_field :playermp, value:20, readonly:true %>
    MaxHP<%= f.text_field :playermaxhp, value:100, readonly:true %>
    MaxMP<%= f.text_field :playermaxmp, value:20, readonly:true %>
    攻撃力<%= f.text_field :playeratk, value:30, readonly:true %>
    守備力<%= f.text_field :playerdef, value:15, readonly:true %>
    はやさ<%= f.text_field :playerspd, value:10, readonly:true %>
    レベル<%= f.text_field :lv, value:1, readonly:true %>
    経験値<%= f.text_field :exp, value:0, readonly:true %>
    <%= f.submit %>
  <% end %>
</body>